<a href="https://colab.research.google.com/github/SumanthPR123/Teachnook-Data-Science-Jan-Batch/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assignment 1: Two examples of Sets,Tuples,Dictionary and Lists.

#Lists
def listcreate(n):
  lst1=[]
  print("Enter the values of the list: ")
  for i in range(n):
    lst1.append(input())
  print("Values in the list are following: ",lst1,"\n")
n=int(input("Enter the numberof elements in the list:"))
listcreate(n)

def examplelst(n):
  lst2=[]
  print("Enter the age of all the students in the class:")
  for i in range(n):
    lst2.append(input())
  print("Here are the ages of all the students in class:",lst2)

n=int(input("Enter the number of students in class: "))
examplelst(n)

In [ ]:
#Tuples
tup1=("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday")
print("Days of a week are: ",tup1)

tup2=(1,2,3,4,5,6,7,8,9,10)
print("The first 10 natural numbers are: ",tup2)

In [ ]:
#Sets
def setexample1(n):
  set1=set()
  print("Enter the fruits you have had this month: ")
  for i in range(n):
    set1.add(input(""))
  print("The fruits you have eaten this month are: ",set1,"\n")
n=int(input("Enter the number of days you have eaten fruit: "))
setexample1(n)

def setexample2(n):
  set2=set()
  print("Enter the employees who worked this shift day by day for the month: ")
  for i in range(n):
    set2.add(input(""))
  print("Employees who worked this month are: ",set2,"\n")
n=int(input("Enter the number of entries for the worker's list: "))
setexample2(n)

In [ ]:
#Dictionary
hoteldata={
    "Name":"Sumanth",
    "Age":"32",
    "Tiers":"VIP Tier",
    "Meals":["Breakfast","Lunch","Dinner"]
}
print(hoteldata)

studentdata={
    "Name":"Sumanth",
    "Age":"14",
    "Subjects":["Physics","Chemistry","Biology"],
    "Class and Section":"VIII A"
}
print(studentdata)